.dateInput {
  &Wrapper {
    display: flex;
    align-items: center;
  }

  &Container {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;

    svg {
      position: absolute;
      right: 0;
    }

    .datePicker {
      font-size: 14px;
      line-height: 17px;
      outline: none;
      color: #606b79;
      appearance: none;
      border: none;
      width: 100px;
      cursor: pointer;
      position: relative;
      z-index: 1;
      background: transparent;

      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
    }
  }
}
