.goal {
  &List {
    width: calc(100% - 236px);
    padding: 35px 30px;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h1 {
      font-size: 21px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  &Content {
    .tabBody {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;

      & > div {
        width: 100%;
      }

      .droppableContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        flex: 0 0 312px;
      }

      .parentTreeData {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;

        .treeItemButton{
          position: absolute;
          bottom: -12px;
          left: 49.2%;
        }
      }

      .treeItem {
        display: flex;
        width: 100%;
        justify-content: center;

        & > div {
          background: #ffffff;
          padding: 21px 26px;
          border-radius: 4px;
          box-shadow: 0 1px 6px 0 rgba(35, 48, 67, 0.1);
          display: flex;
          flex: 0 0 312px;
          flex-direction: column;
          gap: 8px;
          position: relative;
        }
      }

      .childTreeData {
        display: flex;
        padding: 60px 0 20px;
        gap: 20px;
        width: 100%;
        justify-content: center;
        overflow: auto;
      }
    }
  }
}

@media (max-width: 860px){
  .goalList{
    width: calc(100% - 78px);
  }
}


