.treeItem {
  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Left {
      display: flex;
      gap: 8px;
      align-items: center;

      .title {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #606b79;
      }
    }

    &Right {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-right: 30px;

      .progress {
        font-size: 12px;
        line-height: 16px;
        color: #0c46d0;
        background: #c1d3fe;
        border-radius: 42px;
        padding: 4px 9px;
      }
    }
  }

  &Content {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  &Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date {
      font-size: 12px;
      line-height: 16px;
      color: #606b79;
    }

    img {
      border-radius: 4px;
      overflow: hidden;
    }
  }
}
