.emptyGoal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 200px 0;
  color: #444691;
  gap: 4px;

  h1 {
    font-size: 20px;
    line-height: 28px;
  }

  &Text {
    font-size: 14px;
    line-height: 20px;
  }

  &SubText {
    font-size: 12px;
    line-height: 16px;
  }
}
