.navBar {
  min-width: 236px;
  border-right: 1px solid #eff1f5;
  padding-top: 16px;
  background-color: #ffffff;

  &Item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px 16px;
    border-left: 4px solid transparent;

    &.active {
      border-left: 4px solid #1053ff;
    }

    span {
      font-size: 16px;
      color: #606b79;

      &.active {
        color: #1053ff;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 860px){
  .navBar{
    min-width: 78px;
    &Item{
      span{
        display: none;
      }
    }
  }
}