.customInput {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  padding: 8px 0;
  font-size: 22px;
  color: #313131;
}

input[type="text"]::placeholder {
  color: #606b79;
}

input[type="text"]:focus {
  border-bottom: 1px solid transparent;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #d5d9de;
}