.tooltipContainer {
  position: relative;
  display: inline-block;

  .tooltipContent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(35, 48, 67, 0.1);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    .tooltipOption {
      padding: 10px 10px 10px 0;
      cursor: pointer;
      text-align: left;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      color: #233043;

      &:hover {
        background-color: #233043;
        color: #ffffff;
      }
    }
  }

  &:hover .tooltipContent {
    transform: translateX(-50%) translateY(10px);
    opacity: 1;
    visibility: visible;
  }
}
